.row {
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.team-list {
  list-style: none;
  padding: 0 0;
}

.teams {
  width: 35%;
  font-size: 18px;
}

.red {
  color: #E63946
}

.emerald {
  color: #368F8B
}

.team-name{
  font-size: 25px;
}
